<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/clear.css">
</head>
<body>
    <a href="/">Home</a>
    <p>{{clear}}</p>

    <div class="form-con">
        <form action="/clear" method="POST">
            <input type="text" id="userCleared" name="userCleared">
            <p id="example">"enter user name or * all users:"</p>
            <button type="submit" value="Submit">clear</button>
        </form>
    </div>
</body>
</html>